h1 {
    color: black;
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
h1 {
    font-size: 36px;
    }
h2 {
    font-size: 24px;
    background-color: lightskyblue;
    color: black;
    }
p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
ul {
    border: lightgreen solid;
    font-size: 15px;
    font-family: 'Times New Roman', Times, sans-serif;
    border-width: 3px 10px;
  }
div {
    font-size: 20px;
    font-family: 'Courier New', Courier, sans-serif;
  }
body {
    background-color: lightblue;
    }
p {
    border: 3px lightgreen solid;
    }